<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignupLoginRealtime"
        tools:targetApi="31" >
        <activity
            android:name=".principale_activite.HistoriquesActivity"
            android:exported="false" />
        <activity
            android:name=".principale_activite.ParametresActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.DroitActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.ChimieActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.PhysiqueActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.DataScienceActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.EconomieActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.MicroPythonActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.TopoActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.EnergetiqueActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.TelecomActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.GCivilActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.MecaniqueActivity"
            android:exported="false" />
        <activity
            android:name=".tableau_de_bord.InformatiqueActivity"
            android:exported="false" />
        <activity
            android:name=".principale_activite.CoursActivity"
            android:exported="false" />
        <activity
            android:name=".principale_activite.FollowingFormation"
            android:exported="false" />
        <activity
            android:name=".principale_activite.HomePage"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.CONNEXIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".principale_activite.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".principale_activite.DemarrageActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".principale_activite.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".principale_activite.InscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".principale_activite.ConnexionActivity"
            android:exported="false" />
        <activity
            android:name=".principale_activite.ProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>